In [30]:
import pandas as pd
from geopy.distance import vincenty
import datetime

In [3]:
df = pd.read_csv("data/201809-citibike-tripdata.csv")
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

$1.$

In [4]:
df.shape

(1877884, 15)

$2.$

In [5]:
df.tripduration.mean() / 60

16.125248648656324

$3.$

In [6]:
df[df["start station id"] == df["end station id"]].shape[0]

41364

$4.$

In [7]:
df.bikeid.value_counts().idxmax()

33875

$5.$

In [8]:
df.groupby("bikeid")["tripduration"].mean().idxmax()

17548

$6.$

In [9]:
df["start station id"].isna().sum()

716

$7.$

In [10]:
df.groupby("usertype")["tripduration"].mean() / 60

usertype
Customer      33.415379
Subscriber    13.332348
Name: tripduration, dtype: float64

$8.$

In [26]:
m = df[df["start station id"] != df["end station id"]]

In [28]:
m = m[m["start station id"].notna()]

In [29]:
m = m[[
    "start station latitude", 
    "start station longitude", 
    "end station latitude", 
    "end station longitude"
]]

m.apply(lambda x: vincenty((x[0], x[1]), (x[2], x[3])).km, axis = 1).mean()

1.8500554756408196

$9.$

In [35]:
df["starttime"] = pd.to_datetime(df["starttime"])

In [46]:
d = df[
    (df["starttime"].dt.time <= datetime.time(hour = 20)) 
    & 
    (df["starttime"].dt.time >= datetime.time(hour = 18))
]

In [47]:
d["start station id"].value_counts().idxmax()

519.0

$10.$

In [61]:
df["stoptime"] = pd.to_datetime(df["stoptime"])

In [62]:
d = df["end station id"][
    (df["stoptime"].dt.time <= datetime.time(hour = 10)) 
    & 
    (df["stoptime"].dt.time >= datetime.time(hour = 6))
]

In [68]:
(d == 3140).sum() != 0

True

In [69]:
(d == 3106).sum() != 0

True

In [70]:
(d == 3116).sum() != 0

True

In [71]:
(d == 369).sum() != 0

True